#editor {
    height: 600px;
    border: 1px solid #ccc; 
    padding: 10px; /* Add padding for spacing around the content */
    overflow-y: auto; /* Add a vertical scrollbar whe */
    font-weight: bold; 
}
body{
    background-color: #f9f9f9;
}

#header{
    text-align: center;
    font-family: 'Josefin Sans',sans-serif;
}
.btn{   
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold; 
}
.dark{
    background-color: #1c2130;
    color: white;
}
.darkContent[contenteditable="true"] {
    background-color: #283047;
    color:#b1dff8
}
.lightContent[contenteditable="true"] {
    background-color: #eeecde;
    color: #283047;
}

